body
{
    background-color: #181A1B;
}

h1
{
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: #EAEBE7;
}

h2
{
    text-align: center;
    color:#EAEBE7;
}

h3
{
    text-align: center;
    color:#EAEBE7;
}

.links
{
    font-size: 25px;
    text-decoration: underline;
    list-style-type: none;
}

.link, .links
{
    color: silver;
}

header
{
    background-color:dimgray;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 0 black;
}

header *
{
    display: inline;
}

header li
{
    margin: 20px;
}

header li a
{
    color:blue;
    text-decoration: none;
}